get_prop(evs_app, vendor_default_prop)

allow evs_app system_file:dir { read open };
allow evs_app hal_configstore_default:binder { call };
allow evs_app ion_device:chr_file { read open ioctl };
allow evs_app hal_vehicle_hwservice:hwservice_manager { find };
allow evs_app hal_graphics_mapper_hwservice:hwservice_manager { find };
allow evs_app hal_configstore_ISurfaceFlingerConfigs:hwservice_manager { find };
allow evs_app gpu_device:chr_file { map };
allow evs_app hal_evs_hwservice:hwservice_manager { find };
