.repo/
Makefile
abi/
bootable/bootloader/
build_pitx_imx6dq_android.log
cts/
dalvik/
developers/
development/
device/asus/
device/common/
device/generic/
device/google/
device/htc/
device/huawei/
device/lge/
device/moto/
device/rtx/pitx_imx6dq/overlay/frameworks/base/core/res/res/drawable-sw720dp-nodpi/
device/rtx/tools/pitx-android601/flash/android-R0101.00-fs.tar
device/rtx/tools/pitx-android601/flash/rtx-imx6q-pitx-b21-android.dtb
device/rtx/tools/pitx-android601/flash/u-boot.imx
device/rtx/tools/pitx-android601/flash/uImage
device/sample/
docs/
external/aac/
external/android-clat/
external/android-mock/
external/androidplot/
external/ant-glob/
external/antlr/
external/apache-commons-math/
external/apache-harmony/
external/apache-http/
external/apache-xml/
external/bison/
external/blktrace/
external/boringssl/
external/bouncycastle/
external/bsdiff/
external/bzip2/
external/cblas/
external/ceres-solver/
external/chromium-libpac/
external/chromium-trace/
external/chromium-webview/
external/clang/
external/cmockery/
external/compiler-rt/
external/conscrypt/
external/crcalc/
external/deqp/
external/dexmaker/
external/dhcpcd/
external/doclava/
external/drm_gralloc/
external/drm_hwcomposer/
external/droiddriver/
external/e2fsprogs/
external/easymock/
external/eclipse-basebuilder/
external/eclipse-windowbuilder/
external/eigen/
external/elfutils/
external/embunit/
external/emma/
external/esd/
external/expat/
external/eyes-free/
external/f2fs-tools/
external/fdlibm/
external/fio/
external/flac/
external/fonttools/
external/freetype/
external/fsck_msdos/
external/giflib/
external/glide/
external/google-breakpad/
external/google-fonts/
external/google-tv-pairing-protocol/
external/gptfdisk/
external/gtest/
external/guava/
external/hamcrest/
external/harfbuzz_ng/
external/hyphenation-patterns/
external/icu/
external/iproute2/
external/ipsec-tools/
external/iptables/
external/iputils/
external/jarjar/
external/javasqlite/
external/javassist/
external/jdiff/
external/jemalloc/
external/jetty/
external/jhead/
external/jmdns/
external/jmonkeyengine/
external/jpeg/
external/jsilver/
external/jsmn/
external/jsoncpp/
external/jsr305/
external/junit/
external/ksoap2/
external/libavc/
external/libcap-ng/
external/libcxx/
external/libcxxabi/
external/libdrm/
external/libedit/
external/libexif/
external/libgsm/
external/libhevc/
external/liblzf/
external/libmpeg2/
external/libmtp/
external/libnfc-nci/
external/libnfc-nxp/
external/libnl/
external/libogg/
external/libopus/
external/libpcap/
external/libphonenumber/
external/libpng/
external/libselinux/
external/libunwind/
external/libusb-compat/
external/libusb/
external/libutf/
external/libvncserver/
external/libvorbis/
external/libvpx/
external/libvterm/
external/libxml2/
external/libyuv/
external/linux-tools-perf/
external/littlemock/
external/lldb/
external/llvm/
external/ltrace/
external/lz4/
external/lzma/
external/marisa-trie/
external/markdown/
external/mdnsresponder/
external/mesa3d/
external/messageformat/
external/mksh/
external/mockftpserver/
external/mockito/
external/mockwebserver/
external/mp4parser/
external/mtpd/
external/nanohttpd/
external/nanopb-c/
external/naver-fonts/
external/netcat/
external/netperf/
external/neven/
external/nfacct/
external/nist-pkits/
external/nist-sip/
external/noto-fonts/
external/oauth/
external/objenesis/
external/okhttp/
external/opencv/
external/openfst/
external/openssh/
external/owasp/
external/parameter-framework/
external/pcre/
external/pdfium/
external/proguard/
external/protobuf/
external/regex-re2/
external/replicaisland/
external/robolectric/
external/roboto-fonts/
external/safe-iop/
external/scrypt/
external/selinux/
external/sepolicy/
external/sfntly/
external/slf4j/
external/smali/
external/sonic/
external/sonivox/
external/speex/
external/sqlite/
external/squashfs-tools/
external/srtp/
external/strace/
external/svox/
external/tagsoup/
external/tcpdump/
external/timezonepicker-support/
external/tinycompress/
external/tinyxml/
external/tinyxml2/
external/toybox/
external/tremolo/
external/v8/
external/valgrind/
external/vboot_reference/
external/vixl/
external/vogar/
external/webp/
external/webrtc/
external/xmlwriter/
external/xmp_toolkit/
external/zlib/
external/zopfli/
external/zxing/
frameworks/compile/
frameworks/data-binding/
frameworks/minikin/
frameworks/ml/
frameworks/multidex/
frameworks/opt/bitmap/
frameworks/opt/bluetooth/
frameworks/opt/calendar/
frameworks/opt/chips/
frameworks/opt/colorpicker/
frameworks/opt/datetimepicker/
frameworks/opt/emoji/
frameworks/opt/inputmethodcommon/
frameworks/opt/net/ims/
frameworks/opt/net/voip/
frameworks/opt/net/wifi/
frameworks/opt/photoviewer/
frameworks/opt/setupwizard/
frameworks/opt/timezonepicker/
frameworks/opt/vcard/
frameworks/rs/
frameworks/volley/
frameworks/webview/
frameworks/wilhelm/
hardware/akm/
hardware/intel/
hardware/invensense/
hardware/marvell/
hardware/mediatek/
hardware/qcom/
hardware/ti/
kernel_imx/
libnativehelper/
ndk/
out/
packages/apps/BasicSmsReceiver/
packages/apps/Bluetooth/
packages/apps/Calculator/
packages/apps/Calendar/
packages/apps/Camera/
packages/apps/CarrierConfig/
packages/apps/CellBroadcastReceiver/
packages/apps/CertInstaller/
packages/apps/ContactsCommon/
packages/apps/Dialer/
packages/apps/ExactCalculator/
packages/apps/FMRadio/
packages/apps/HTMLViewer/
packages/apps/InCallUI/
packages/apps/KeyChain/
packages/apps/Launcher3/
packages/apps/ManagedProvisioning/
packages/apps/Messaging/
packages/apps/Music/
packages/apps/MusicFX/
packages/apps/Nfc/
packages/apps/OneTimeInitializer/
packages/apps/PackageInstaller/
packages/apps/PhoneCommon/
packages/apps/Protips/
packages/apps/Provision/
packages/apps/QuickSearchBox/
packages/apps/SpareParts/
packages/apps/SpeechRecorder/
packages/apps/Stk/
packages/apps/Tag/
packages/apps/Terminal/
packages/apps/TvSettings/
packages/apps/UnifiedEmail/
packages/experimental/
packages/inputmethods/
packages/providers/
packages/screensavers/
packages/services/
packages/wallpapers/
pdk/
platform_testing/
prebuilts/android-emulator/
prebuilts/clang/
prebuilts/devtools/
prebuilts/eclipse/
prebuilts/gcc/darwin-x86/
prebuilts/gcc/linux-x86/aarch64/
prebuilts/gcc/linux-x86/arm/arm-eabi-4.8/
prebuilts/gcc/linux-x86/host/
prebuilts/gcc/linux-x86/mips/
prebuilts/gcc/linux-x86/x86/
prebuilts/gradle-plugin/
prebuilts/libs/
prebuilts/maven_repo/
prebuilts/misc/
prebuilts/ndk/
prebuilts/python/
prebuilts/qemu-kernel/
prebuilts/sdk/
prebuilts/tools/
repo
sdk/
system/gatekeeper/
system/keymaster/
system/security/
tools/

