allow shell proc_uid_cputime_showstat:file { getattr read open };
allow shell proc_uid_cputime_removeuid:file { getattr read open };
allow shell unlabeled:lnk_file { read };
allow shell system_data_file:file { read };
allow shell rootfs:file { getattr };
allow shell block_device:dir { search };
allow shell kernel:process { setsched };
dontaudit shell self:capability { dac_override };
allow shell vendor_file:file { read execute open getattr };
allow shell boottime_prop:file { open getattr };
allow shell runtime_event_log_tags_file:file { map };
allow shell ctl_bootanim_prop:file { getattr };
allow shell system_prop:property_service { set };
allow shell mnt_media_rw_file:dir { getattr };
