/dev/block/platform/40000000\.ahb-bridge0/40370000\.usdhc/by-name/presistdata  0600   system     system
/dev/snd/*                0660   system     audio
/dev/video*               0660   system     camera
/dev/pxp_device           0666   media      drmrpc
/dev/uinput               0660   system     bluetooth
/dev/ion                  0666   media      drmrpc
/dev/galcore              0666   system     graphics
/dev/graphics/fb0         0660   system     graphics
/dev/watchdog             0660   system     root
/dev/ttyLP2               0660   bluetooth  bluetooth
/dev/input/event*         0660   system     system

#sensors sysfs
/sys/class/misc/step_*              enable      0660  system system
/sys/class/misc/step_*              poll_delay  0660  system system

# sysfs properties
/sys/devices/virtual/input/input*   name        0660  system   system
/sys/devices/virtual/input/input*   max         0660  system   system
/sys/devices/virtual/input/input*   min         0660  system   system
/sys/devices/virtual/input/input*   poll        0660  system   system
/sys/devices/virtual/input/input*   enable      0660  system   system
/sys/devices/virtual/input/input*   position    0660  system   system
/sys/devices/virtual/input/input*   poll_delay  0660  system   system
/sys/devices/virtual/input/input*   fifo        0660  system   system
/sys/devices/virtual/thermal/thermal_zone* trip_point_0_temp 0660 system system
/sys/devices/virtual/thermal/thermal_zone* trip_point_1_temp 0660 system system
/sys/devices/virtual/thermal/thermal_zone* trip_point_2_temp 0660 system system
