allow kernel self:capability { mknod };
allow kernel fuse:file rw_file_perms;
allow kernel fuse:dir rw_dir_perms;
allow kernel device:blk_file  { getattr };
allow kernel device:dir  { add_name write remove_name create rmdir };
allow kernel device:chr_file  { create setattr getattr unlink };
allow kernel mediaprovider:fd use;
allow kernel vendor_file:file { read open };
allow kernel rootfs:file { execute };
allow kernel vendor_configs_file:file { map };
allow kernel vold_data_file:file { write };
